In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [12]:
# Uplaoding Data
df = pd.read_csv("../Data/BostonHousing.csv") 
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
# Filling empty data if there are some
print(df.isnull().sum())
df.fillna(df.mean(), inplace=True)

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

<span>Removing the outlier</span>

In [23]:
# List of columns to remove outliers from
cols = ['lstat', 'tax', 'rm']

# Loop through each column and remove outliers using IQR method
for col in cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

# Show remaining shape of the data
print("Data shape after outlier removal:", df.shape)

Data shape after outlier removal: (472, 14)

In [24]:
#Feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df.drop('medv', axis=1))

df_scaled = pd.DataFrame(X_scaled, columns=df.columns[:-1])
df_scaled['medv'] = df['medv'].values

<span>Train / Test split</span>

In [26]:
X = df_scaled.drop('medv', axis=1)
y = df_scaled['medv']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)

Train shape: (377, 13)
Test shape: (95, 13)

In [30]:
# exporting the processed data
df.to_csv("../Data/processed_boston.csv", index=False)